.activity-wrapper {
    background-color: #ddd;

    p {
        display: inline-block;
        padding: 0 5px 0 15px;
    }

    .title {
        padding: 20px;
        margin: 0;
        text-align: center;
    }
}