.activity-wrapper {
    margin-bottom: 15px;
    background-color: #ddd;
    background-color: #f7f7fa;
    text-align: center;

    p {
        display: inline-block;
        padding: 0 5px 0 15px;
    }

    .title {
        padding: 20px;
        margin: 0;
        text-align: center;
    }

    svg {
        margin-left: 5px;
    }

    .progress {
        margin: 0 auto;
        width: 150px;
    }

    .bar {
        min-width: 72.5px;
    }

    .sucess {
        padding: 15px 0 10px;

        h6 {
            padding: 0 5px 0;
        }
    }
}

@media(min-width:1024px) {
    .activity-wrapper {
        margin: 0;
    }
}

@media(min-width:1400px) {
    .activity-wrapper {
        text-align: left;

        .activity {
            span {
                padding-right: 20px;
            }
        }

        .sucess {
            h6 {
                padding: 0 10px;
            }
        }
    }
}

@media(min-width:1600px) {
    .activity-wrapper {
        .activity {
            span {
                padding-right: 15px;
            }
        }
    }
}

@media(min-width:1900px) {
    .activity-wrapper {
        p {
            padding-left: 35px;
        }

        .activity {
            p {
                padding-left: 35px;
            }

            span {
                padding-right: 40px;
            }
        }
    }
}