.addTask {
    min-height: 300px;
    margin-bottom: 15px;

    h6 {
        padding: 20px 0;
        margin: 0;
        text-align: center;
    }

    .title {
        text-align: center;
    }

    .form {
        padding: 10px 0px 20px;

        input {
            display: block;
            padding: 5px 10px;
            margin: 0 auto;
        }

        .important {
            display: block;
            text-align: center;
        }

        #date {
            display: block;
            text-align: center;
            margin: 5px 0 5px;
        }

        .add {
            display: block;
            padding: 15px 80px;
            margin: 15px auto;
            border-radius: 8px;
            background-color: #F47457;
            border-color: #fff;
        }
    }
}

@media(min-width:1024px) {
    .addTask {
        margin: 0;

        .form {
            #date {
                margin: 10px 0 10px;
            }

            .add {
                margin: 0 50px 30px auto;
            }
        }
    }
}

@media(min-width:1280px) {
    .addTask {
        .form {
            padding: 50px 0 10px;
        }
    }
}

@media(min-width:1600px) {
    .addTask {
        .form {
            .add {
                margin: 0 100px 30px auto;
            }
        }
    }
}

@media(min-width:1900px) {
    .addTask {
        .form {
            .add {
                margin: 0 180px 30px auto;
            }
        }
    }
}