.addTask {
    min-height: 300px;
    margin-bottom: 15px;

    h6 {
        padding: 20px 0;
        margin: 0;
        text-align: center;
    }

    .title {
        text-align: center;
    }

    .form {
        padding: 10px 0px 20px;

        label {
            display: block;
            margin: 5px 10px 5px 40px;
        }

        select,
        input {
            display: block;
            margin: 0 auto 20px;
            padding: 10px 20px 10px 5px;
            width: 230px;
            border-radius: 8px;
            border: 1px solid rgb(179, 179, 179);
        }

        .input-date {
            margin: 0 auto 0px;
        }

        .important {
            margin: 0;
            text-align: center;
            display: inline;
        }

        #important {
            display: inline;
            width: 20px;
            margin: 0 5px 0 35px;
        }

        #date {
            display: block;
        }

        .add {
            display: block;
            padding: 15px 50px;
            margin: 25px auto 15px;
            border-radius: 8px;
            background-color: #F47457;
            border-color: #fff;
        }
    }
}

@media(min-width:360px) {
    .addTask {

        .form {
            label {
                margin: 5px 10px 10px 60px;
            }

            #date {
                margin: 10px 10px 10px 60px;
            }

            #important {
                margin: 0 5px 0 70px
            }
        }
    }
}

@media(min-width:640px) {
    .addTask {

        .form {
            label {
                text-align: center;
                display: block;
                margin: 5px auto 10px;
            }

            select {
                display: block;
                text-align: center;
                // margin: 0 auto;
            }

            input {
                margin-top: 10px;
            }

            #date {
                margin: 5px auto 10px;
            }

            #important {
                margin: 0 5px 0 250px;
            }
        }
    }
}

@media(min-width:1024px) {
    .addTask {
        margin: 0;

        .form {
            #date {
                margin: 10px 0 10px;
            }

            #important {
                margin: 0 5px 0 380px;
            }
        }
    }
}

@media(min-width:1280px) {
    .addTask {
        .form {
            padding: 20px 0 10px;

            #important {
                margin: 0 5px 0 320px;
            }

            select,
            input {
                margin: 0 auto 15px;
            }

            label {
                width: 230px;
                text-align: left;
            }

            .add {
                margin: 30px auto 15px;
            }

            #date {
                margin: 10px auto;
            }
        }
    }
}

@media(min-width:1400px) {
    .addTask {
        .form {

            #important {
                margin: 0 5px 0 400px;
            }
        }
    }
}

@media(min-width:1600px) {
    .addTask {
        .form {

            #important {
                margin: 0 5px 0 500px;
            }
        }
    }
}

@media(min-width:1900px) {
    .addTask {
        .form {

            #important {
                margin: 0 5px 0 600px;
            }
        }
    }
}