* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    h6 {
        text-align: center;

    }

    div {
        border-radius: 8px;
        margin: 0 2px;
        background-color: #fff;
    }

    .container {
        padding: 0px;
    }
}

@media(min-width:1280px) {
    .nav {
        display: none;

    }
}

@media(min-width:1400px) {
    .container {
        max-width: 1300px;
    }
}

@media(min-width:1600px) {
    .container {
        max-width: 1500px;
    }
}

@media(min-width:1900px) {
    .container {
        max-width: 1800px;
    }
}