.list-wrapper {
    background-color: #ddd;


    h6 {
        padding: 20px;
        margin-bottom: 15px;
        text-align: center;
    }

    .task {
        padding: 20px 0 0;
    }
}

@media(min-width:1024px) {
    .list-wrapper {
        min-height: 250px;

        h6 {
            margin: 0;
        }
    }
}