.list-wrapper {
    margin-bottom: 15px;

    .title {
        padding: 20px;
        text-align: center;
    }

    .info {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    .task {
        padding: 20px 0 0;
    }

    .default {
        display: none;
        text-align: center;
        margin: 0;
    }
}

@media(min-width:640px) {
    .list-wrapper {

        .default {
            display: block;
            padding-bottom: 10px;
        }
    }
}

@media(min-width:1024px) {
    .list-wrapper {
        margin: 0;
        min-height: 250px;
        min-width: 250px;

        .list {
            span {
                padding: 0 2px 0;
            }
        }

        h6 {
            margin: 0;
        }
    }
}

@media(min-width:1400px) {
    .list-wrapper {
        margin: 0;
        min-height: 250px;
        // min-width: 300px;
    }
}


@media(min-width:1600px) {
    .list-wrapper {
        .list {
            span {
                padding: 0 5px 0;
            }
        }
    }
}