.dashboard-wrapper {
    background-color: #f7f7fa;

    .task {
        padding: 20px 0 20px;
        text-align: center;

    }
}

@media(min-width:1024px) {
    .dashboard-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 5;
        grid-template-areas:
            "top top top top"
            " sidebar sidebar sidebar"
            " main main main "
            " tasks tasks . "
            "score score score"
        ;
        row-gap: 20px;
        column-gap: 25px;

        .profileBar {
            grid-area: top;
        }

        .activity-wrapper {
            grid-area: sidebar;
        }

        .task {
            grid-area: header;
            padding-top: 40px
        }

        .addTask {
            grid-area: main;
        }

        .taskList {
            grid-area: tasks;
        }

        .topTable {
            grid-area: score;
        }

        .profile-card {
            grid-area: profile;
        }
    }
}

@media(min-width:1280px) {
    .dashboard-wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "top top top top"
            "header header header profile"
            " main main main sidebar"
            ". tasks . score"
        ;
    }
}