.dashboard-wrapper {
    background-color: #f7f7fa;
    background-color: #ddd;

    .task {
        padding: 20px 0 20px;
        margin: 15px 0 15px 0;
        text-align: center;
    }
}

@media(min-width:640px) {
    .dashboard-wrapper {
        .topTable {
            width: 450px;
            margin: 0 auto;
        }
    }
}

@media(min-width:1024px) {
    .dashboard-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "top top top"
            " sidebar sidebar sidebar"
            "header header header"
            " main main main "
            " tasks tasks list "
            " score score score "
        ;
        row-gap: 20px;
        column-gap: 25px;

        .task {
            margin-top: 0px;
        }

        .profileBar {
            grid-area: top;
        }

        .activity-wrapper {
            grid-area: sidebar;
        }

        .task {
            grid-area: header;
            margin: 0;
        }

        .addTask {
            grid-area: main;
        }

        .taskList {
            grid-area: tasks;
        }

        .topTable {
            grid-area: score;
            margin: 0 auto;
            width: 550px;
        }

        .list-wrapper {
            grid-area: list;
        }

        .profile-card {
            grid-area: profile;
            display: none;
        }

        .list-wrapper,
        .addTask,
        .task,
        .activity-wrapper,
        .profile-card {
            margin-right: 15px;
        }

        .task,
        .taskList,
        .addTask,
        .activity-wrapper {
            margin-left: 15px;
        }
    }

}

@media(min-width:1280px) {
    .dashboard-wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "top top top top"
            "header header header profile"
            " main main main sidebar"
            ". tasks list score"
        ;

        .profile-card {
            display: block;
            grid-area: profile;
        }

        .topTable {
            grid-area: score;
            width: auto;
            margin: 0 15px 0 0;
        }

        .activity-wrapper {
            margin-left: 0;
        }

        .list-wrapper,
        .addTask,
        .task {
            margin-right: 0px;
        }

        .task {
            margin-bottom: 0;
            padding-top: 70px
        }
    }
}