.list-dog {
    p {
        text-align: center;
    }

    #delete {
        cursor: pointer;
        margin-top: 10px;
    }

    .dogo {
        margin-top: 15px;
        margin-right: 15px;
        height: 10vh;
    }
}

@media(min-width:640px) {
    .list-dog {
        .dogo {
            height: 6vh;
        }
    }
}

@media(min-width:1024px) {
    .list-dog {
        .dogo {
            height: 8vh;
        }
    }
}