.pawLogin {
    margin: 20px 0 10px;
}

.wrapper {
    height: 100vh;

    .login-wrapper {

        .login-header {
            padding-top: 10px;

            p {
                margin: 0;
            }
        }

        .login-form {

            padding: 20px 0px 0px;

            label {
                display: block;
                margin-bottom: 5px;
            }

            input {
                display: block;
                padding: 10px 110px 10px 5px;
                margin-bottom: 10px;
                border-radius: 8px;
            }

            .forgot-pass {
                display: block;
                text-align: center;
            }

            .log-in {
                padding: 15px 100px;
                margin: 10px 0 5px;
                border-radius: 8px;
                background-color: #F47457;
                border-color: #fff;
            }

            .new-acc {
                display: block;
                margin-top: 10px;
                text-align: center;
            }
        }

    }

    .main-image {
        .logo {
            display: none;
        }

        .license {
            display: none;
            text-align: center;
        }
    }
}

@media(min-width:360px) {
    .wrapper {
        .login-wrapper {

            .login-header {
                padding-top: 30px;
            }

            .login-form {
                padding: 40px 0px 0px;

                label {
                    margin-bottom: 10px;

                }

                input {
                    padding: 10px 150px 10px 5px;
                }

                .log-in {
                    padding: 15px 120px;
                    margin: 25px 0 10px;
                }

                .new-acc {
                    margin-top: 40px;
                }
            }
        }
    }
}

@media(min-width:640px) {
    .wrapper {
        margin-top: 100px;
        text-align: center;

        .login-wrapper {
            .login-form {

                form {
                    label {
                        text-align: left;
                        margin-left: 185px;
                    }

                    input {

                        margin: 0 auto 10px;
                    }
                }
            }
        }
    }
}

@media(min-width:1024px) {
    .wrapper {
        text-align: left;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr, 1fr;
        grid-template-areas:
            "login image "
        ;
        padding: 50px 0 130px;

        .main-image {
            .logo {
                display: block;
                height: 30vh;
                margin: 70px 0 30px 25px;
                grid-area: image;
            }

            .license {
                display: block;
                text-align: center;
            }
        }

        .login-wrapper {
            grid-area: login;

            .login-header {
                text-align: center;
            }

            .login-form {
                form {
                    label {
                        margin-left: 0;
                    }

                }

                .forgot-pass {
                    margin-top: 10px;
                }

                .new-acc {
                    margin-top: 30px;
                }
            }
        }
    }
}

@media(min-width:1280px) {
    .paw {
        margin-top: 60px;
        display: block;
    }

    .wrapper {

        .login-wrapper {

            .login-header {
                margin-right: 20px;
            }
        }

        .main-image {
            .logo {
                height: 60vh;
                margin: 0px 0 0px 70px;

            }
        }
    }
}

@media(min-width:1400px) {
    .wrapper {

        .login-wrapper {
            .login-header {
                margin: 0 20px;

                p {
                    text-align: left;
                }
            }

            .login-form {
                text-align: center;

                form {
                    label {
                        margin-left: 40px;
                    }
                }

            }
        }
    }
}

@media(min-width:1400px) {
    .wrapper {
        .login-wrapper {
            .login-header {
                p {
                    text-align: center;
                }

            }

            .login-form {
                form {
                    label {
                        margin-left: 90px;
                    }
                }
            }
        }
    }
}

@media(min-width:1900px) {
    .wrapper {
        .login-wrapper {
            .login-form {
                form {
                    label {
                        margin-left: 170px;
                    }
                }
            }
        }
    }
}