.profileBar {
    margin: 0;
    display: flex;
    justify-content: space-between;
    border-radius: 0;
    background-color: #f7f7fa;

    svg {
        margin: 20px 0 10px;
    }

    .user {

        svg {
            margin: 20px 10px 10px;
        }

        .log-out {
            padding: 10px 20px;
            border-radius: 8px;
            margin: 20px 20px 10px 10px;
            transition: .7s;
            display: none;
        }
    }
}

@media(min-width:640px) {
    .profileBar {
        .user {
            .log-out {
                display: inline;
            }
        }
    }
}

@media(min-width:1024px) {
    .profileBar {
        .user {
            .log-out {
                display: inline;
                margin: 20px 20px 10px 10px;
            }
        }
    }
}