.profile-card {
    background-color: #ddd;
    display: none;

    svg {
        display: block;
        text-align: center;
        margin: 15px auto 0;
    }

    .userName {
        padding: 10px 0 10px;
        margin: 0;
        text-align: center;
    }

    .profile-body {
        ul {
            display: flex;
            margin: 0;
            padding: 0 10px 20px;
            list-style: none;
            justify-content: space-between;

            li::after {
                content: '';
                display: block;
                border-right: 1px solid #f0f0f5;
                height: 24px;
                width: 1px;
                right: 0;
                top: 50%;
                margin-top: -22px;
            }

            a {
                text-decoration: none;
            }
        }

        span {
            display: block;
            color: black;
            font-size: 12px;
        }

        .stats {
            display: block;
            text-align: center;
            color: black;
        }
    }
}

@media(min-width:1024px) {
    .profile-card {
        min-width: 220px;
        display: block;
    }
}

@media(min-width:1400px) {
    .profile-card {
        .profile-body {
            ul {
                justify-content: space-evenly;
            }
        }
    }
}