.profileBar {
    margin: 0;
    border-radius: 0;
    display: flex;
    justify-content: space-between;

    svg {
        margin: 20px 0 10px;
    }

    .user {

        svg {
            margin: 20px 10px 10px;
        }

        .log-out {
            padding: 10px 20px;
            border-radius: 8px;
            margin: 20px 20px 10px 10px;
            transition: .7s;
            display: none;
        }

        #settings {
            margin-right: 0;
        }

        #basic-nav-dropdown {
            margin-right: 10px;
            padding: 0;
            color: black;

        }

        .logOut {
            margin-top: 10px;
            font-weight: bold;
            color: rgb(238, 44, 0);
            background-color: white;
        }

    }
}

@media(min-width:640px) {
    .profileBar {
        .user {
            .log-out {
                display: inline;
            }

            #basic-nav-dropdown {
                display: none;
            }
        }
    }
}

@media(min-width:1024px) {
    .profileBar {
        .user {
            .log-out {
                display: inline;
                margin: 20px 20px 10px 10px;
            }
        }
    }
}