.taskList {
    min-height: 230px;
    margin-bottom: 15px;
    text-align: center;

    .animal-table {
        display: none;
    }

    .tabs {
        justify-content: space-evenly;
    }

    h6 {
        padding-top: 20px;
    }

    .text {
        margin-top: 20px;
    }

    .task {
        padding: 20px 0 0;

        P {
            margin: 0 5px 10px;
        }
    }
}

@media(min-width:1024px) {
    .taskList {
        margin: 0;
    }
}

@media(min-width:1280px) {
    .taskList {
        width: 550px;
        margin: 0 auto;

        .animal-table {
            display: block;
            margin-left: 10px;
        }
    }
}

@media(min-width:1400px) {
    .taskList {
        width: 700px;
        margin: 0 auto;
    }
}