.taskList {
    min-height: 230px;
    margin-bottom: 15px;
    text-align: center;

    .tabs {
        justify-content: space-evenly;
    }

    h6 {
        padding-top: 20px;
    }

    .task {
        padding: 20px 0 0;

        P {
            margin: 0 5px 10px;
        }
    }

    .active {
        .title {
            padding-top: 20px;
        }
    }
}

@media(min-width:1024px) {
    .taskList {
        margin: 0;
    }
}

@media(min-width:1280px) {
    .taskList {
        min-width: 450px;
        margin: 0 auto;
    }
}