.task {
    background-color: #ddd;

    h6 {
        margin: 0;
    }

    p {
        padding-bottom: 5px;
    }

    svg,
    button {
        cursor: pointer;
        margin-left: 5px;
    }

    li {
        list-style: none;
    }
}