.task {
    // background-color: #ddd;
    // background-color: #f7f7fa;
    background-color: #fff;
    // box-shadow: 5px 5px 0px -1px rgba(0, 0, 0, 0.32);

    h6 {
        margin: 0;
    }

    p {
        padding-bottom: 5px;
    }

    svg,
    button {
        cursor: pointer;
        margin-left: 5px;
    }

    li {
        list-style: none;
    }
}