.topTable {
    background-color: #fff;

    .title {
        padding: 20px 0 10px;
    }
}

@media(min-width:640px) {
    .topTable {
        box-shadow: 5px 5px 0px -1px rgba(0, 0, 0, 0.32);
    }
}