* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 1280px) {
  .nav {
    display: none;
  }
}

.wrapper .login-wrapper .login-header {
  padding-top: 10px;
}

.wrapper .login-wrapper .login-header p {
  margin: 0;
}

.wrapper .login-wrapper .login-form {
  padding: 20px 0px 0px;
}

.wrapper .login-wrapper .login-form label {
  display: block;
  margin-bottom: 5px;
}

.wrapper .login-wrapper .login-form input {
  display: block;
  padding: 10px 110px 10px 5px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.wrapper .login-wrapper .login-form .forgot-pass {
  display: block;
  text-align: center;
}

.wrapper .login-wrapper .login-form .log-in {
  padding: 15px 100px;
  margin: 10px 0 5px;
  border-radius: 8px;
  background-color: #F47457;
  border-color: #fff;
}

.wrapper .login-wrapper .login-form .new-acc {
  display: block;
  margin-top: 20px;
  text-align: center;
}

.wrapper .main-image {
  display: none;
}

@media (min-width: 360px) {
  .wrapper .login-wrapper .login-header {
    padding-top: 50px;
  }
  .wrapper .login-wrapper .login-form {
    padding: 40px 0px 0px;
  }
  .wrapper .login-wrapper .login-form label {
    margin-bottom: 10px;
  }
  .wrapper .login-wrapper .login-form input {
    padding: 10px 150px 10px 5px;
  }
  .wrapper .login-wrapper .login-form .log-in {
    padding: 15px 120px;
    margin: 25px 0 10px;
  }
  .wrapper .login-wrapper .login-form .new-acc {
    margin-top: 40px;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr, 1fr;
        grid-template-columns: 1fr, 1fr;
    padding: 50px 0 130px;
  }
  .wrapper .login-wrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .wrapper .login-wrapper .main-image {
    display: block;
    height: 100%;
  }
  .wrapper .login-wrapper .login-form .new-acc,
  .wrapper .login-wrapper .login-form .forgot-pass {
    text-align-last: left;
  }
  .wrapper .main-image {
    display: block;
    -ms-grid-column: 2;
    grid-column: 2/2;
  }
}

@media (min-width: 1280px) {
  .paw {
    margin-top: 60px;
    display: block;
  }
}

.dashboard-wrapper {
  background-color: #f7f7fa;
}

.dashboard-wrapper .task {
  padding-top: 20px;
  text-align: center;
}

@media (min-width: 1024px) {
  .dashboard-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "top top top " "header header header" " main main main" ". tasks .";
    row-gap: 20px;
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
  .dashboard-wrapper .topBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: top;
  }
  .dashboard-wrapper .task {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: header;
    padding-top: 40px;
  }
  .dashboard-wrapper .addTask {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: main;
  }
  .dashboard-wrapper .taskList {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: tasks;
  }
}

.topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.topBar svg {
  margin: 20px 0 10px;
}

.addTask {
  background-color: #ddd;
}

.addTask .title {
  text-align: center;
}

.addTask .form input {
  display: block;
  padding: 5px 10px;
}

.addTask .form label {
  margin: 5px 0 5px;
}

.addTask .form #important {
  display: inline;
  margin: 0 5px 0 10px;
}

.addTask .form .add {
  display: block;
  padding: 15px 80px;
  margin: 15px auto;
  border-radius: 8px;
  background-color: #F47457;
  border-color: #fff;
}

@media (min-width: 1024px) {
  .addTask .form {
    margin: 20px 0 0 350px;
  }
  .addTask .form .add {
    margin: 0 50px 30px auto;
  }
}

@media (min-width: 1280px) {
  .addTask .form {
    margin-left: 440px;
  }
}

.taskList {
  background-color: #ddd;
  text-align: center;
}

.taskList h6 {
  padding-top: 20px;
}

.taskList .task {
  padding: 20px 0 0;
}

.taskList .task P {
  margin: 0 0 10px;
}

.taskList .active .title {
  padding-top: 20px;
}

.task {
  padding: 20px 0;
  background-color: #ddd;
}

.task h6 {
  margin: 0;
}

.task svg,
.task button {
  cursor: pointer;
  margin-left: 5px;
}

@media (min-width: 1024px) {
  .siedbar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */