* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 1280px) {
  .nav {
    display: none;
  }
}

.pawLogin {
  margin: 20px 0 10px;
}

.wrapper .login-wrapper .login-header {
  padding-top: 10px;
}

.wrapper .login-wrapper .login-header p {
  margin: 0;
}

.wrapper .login-wrapper .login-form {
  padding: 20px 0px 0px;
}

.wrapper .login-wrapper .login-form label {
  display: block;
  margin-bottom: 5px;
}

.wrapper .login-wrapper .login-form input {
  display: block;
  padding: 10px 110px 10px 5px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.wrapper .login-wrapper .login-form .forgot-pass {
  display: block;
  text-align: center;
}

.wrapper .login-wrapper .login-form .log-in {
  padding: 15px 100px;
  margin: 10px 0 5px;
  border-radius: 8px;
  background-color: #F47457;
  border-color: #fff;
}

.wrapper .login-wrapper .login-form .new-acc {
  display: block;
  margin-top: 20px;
  text-align: center;
}

.wrapper .main-image {
  display: none;
}

@media (min-width: 360px) {
  .wrapper .login-wrapper .login-header {
    padding-top: 30px;
  }
  .wrapper .login-wrapper .login-form {
    padding: 40px 0px 0px;
  }
  .wrapper .login-wrapper .login-form label {
    margin-bottom: 10px;
  }
  .wrapper .login-wrapper .login-form input {
    padding: 10px 150px 10px 5px;
  }
  .wrapper .login-wrapper .login-form .log-in {
    padding: 15px 120px;
    margin: 25px 0 10px;
  }
  .wrapper .login-wrapper .login-form .new-acc {
    margin-top: 40px;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr, 1fr;
        grid-template-columns: 1fr, 1fr;
        grid-template-areas: "login image ";
    padding: 50px 0 130px;
  }
  .wrapper .main-image {
    display: block;
    height: 100%;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: image;
  }
  .wrapper .login-wrapper {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: login;
  }
  .wrapper .login-wrapper .login-form .new-acc,
  .wrapper .login-wrapper .login-form .forgot-pass {
    text-align-last: left;
  }
}

@media (min-width: 1280px) {
  .paw {
    margin-top: 60px;
    display: block;
  }
}

.dashboard-wrapper {
  background-color: #f7f7fa;
}

.dashboard-wrapper .task {
  padding-top: 20px;
  text-align: center;
}

@media (min-width: 1024px) {
  .dashboard-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 5;
        grid-template-rows: 5;
        grid-template-areas: "top top top top" " sidebar sidebar sidebar" " main main main " ". tasks . " "score score score";
    row-gap: 20px;
    -webkit-column-gap: 25px;
            column-gap: 25px;
  }
  .dashboard-wrapper .profileBar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: top;
  }
  .dashboard-wrapper .sidebar {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: sidebar;
  }
  .dashboard-wrapper .task {
    grid-area: header;
    padding-top: 40px;
  }
  .dashboard-wrapper .addTask {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: main;
  }
  .dashboard-wrapper .taskList {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: tasks;
  }
  .dashboard-wrapper .topTable {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: score;
  }
}

@media (min-width: 1280px) {
  .dashboard-wrapper {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "top top top top" "header header header sidebar" " main main main sidebar" ". tasks . score";
  }
}

.profileBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profileBar svg {
  margin: 20px 0 10px;
}

.profileBar .user .userName {
  vertical-align: middle;
}

.profileBar .user svg {
  margin: 20px 10px 10px;
}

.profileBar .user .logOut {
  padding: 10px 20px;
  border-radius: 8px;
  -webkit-transition: .7s;
  transition: .7s;
}

.profileBar .user .userName,
.profileBar .user .logOut {
  display: none;
}

@media (min-width: 1024px) {
  .profileBar .user .userName,
  .profileBar .user .logOut {
    display: inline;
  }
  .profileBar .user .logOut {
    margin: 20px 20px 10px 20px;
  }
}

.addTask {
  min-height: 300px;
  margin-bottom: 15px;
  background-color: #ddd;
}

.addTask .title {
  text-align: center;
}

.addTask .form {
  padding: 20px 0px;
}

.addTask .form input {
  display: block;
  padding: 5px 10px;
  margin: 0 auto;
}

.addTask .form label {
  margin: 5px 0 5px;
}

.addTask .form #important {
  display: inline;
  margin: 0 5px 0 10px;
}

.addTask .form .add {
  display: block;
  padding: 15px 80px;
  margin: 15px auto;
  border-radius: 8px;
  background-color: #F47457;
  border-color: #fff;
}

@media (min-width: 1024px) {
  .addTask {
    margin: 0;
  }
  .addTask .form .add {
    margin: 0 50px 30px auto;
  }
}

@media (min-width: 1280px) {
  .addTask .form {
    margin: 20px 0 0 325px;
  }
}

.taskList {
  min-height: 230px;
  margin-bottom: 15px;
  text-align: center;
  background-color: #ddd;
}

.taskList h6 {
  padding-top: 20px;
}

.taskList .task {
  padding: 20px 0 0;
}

.taskList .task P {
  margin: 0 0 10px;
}

.taskList .active .title {
  padding-top: 20px;
}

@media (min-width: 1024px) {
  .taskList {
    margin: 0;
  }
}

.task {
  padding: 20px 0;
  background-color: #ddd;
}

.task h6 {
  margin: 0;
}

.task svg,
.task button {
  cursor: pointer;
  margin-left: 5px;
}

.sidebar {
  background-color: #ddd;
}

.sidebar h6 {
  padding: 20px;
  margin-bottom: 15px;
  text-align: center;
}

@media (min-width: 1024px) {
  .siedbar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    min-width: 300px;
  }
  .siedbar h6 {
    padding-top: 40px;
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */